## Capstone Project Assignment - 1
# Part - 1

In [1]:
import numpy as np 
import pandas as pd
import json
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
from sklearn.datasets.samples_generator import make_blobs

from bs4 import BeautifulSoup
import lxml

import requests
from pandas.io.json import json_normalize

In [2]:
from geopy.geocoders import Nominatim 
import folium

In [3]:
URL = "https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=942851379"
source = requests.get(URL).text

In [4]:
soup = BeautifulSoup(source, 'xml')
table=soup.find('table')

In [5]:
column_names = ['Postalcode','Borough','Neighborhood']
df_1 = pd.DataFrame(columns = column_names) 
df_1.head()

Empty DataFrame
Columns: [Postalcode, Borough, Neighborhood]
Index: []

In [6]:
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df_1.loc[len(df_1)] = row_data

df_1.head()

  Postalcode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [7]:
df_1=df_1[df_1['Borough']!='Not assigned']
df_1.head()

  Postalcode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

In [8]:
df_2 = df_1.groupby('Postalcode')['Neighborhood'].apply(lambda x: "%s" % ', '.join(x))
df_2 = df_2.reset_index(drop=False)
df_2.rename(columns={'Neighborhood':'Neighborhood_joined'},inplace=True)
df_2.head()

  Postalcode                     Neighborhood_joined
0        M1B                          Rouge, Malvern
1        M1C  Highland Creek, Rouge Hill, Port Union
2        M1E       Guildwood, Morningside, West Hill
3        M1G                                  Woburn
4        M1H                               Cedarbrae

In [9]:
df_3 = pd.merge(df_1, df_2, on='Postalcode')
df_3.drop(['Neighborhood'], axis=1, inplace = True)
df_3.drop_duplicates( inplace = True)
df_3.rename(columns={'Neighborhood_joined': 'Neighborhood'}, inplace = True)
df_3.head()

  Postalcode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto                      Harbourfront
3        M6A        North York  Lawrence Heights, Lawrence Manor
5        M7A  Downtown Toronto                      Queen's Park

In [10]:
df_3.shape

(103, 3)